.sidebar {
  @media #{$lg} {
    display: none;
  }
  padding: 32px 30px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  background: $c-accent;
  &__toggle-menu {
    color: white;
    font-size: 0;
  }
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-user-nav {
  &__profile {
    display: flex;
    align-items: center;
    color: white;
  }
  &__picture-container {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 9px;
  }
  &__picture {
    object-fit: cover;
  }
  &__name {
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: $bold;
    margin-right: 36px;
  }
}
